#clock-container{
    display:flex;
    justify-content: center;
    font-size: 3rem;
    align-items: center;
    height: 100vh;

}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.511);
}




